<!DOCTYPE html>
<html>
<head>
  <title>Womenrising</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="pull-left">
    <%= image_link_to("logo.png", root_path, class: "header_logo")  %>
  </div>  
  <nav class="pull-right">
      <ul class="nav nav-pills">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Featured", featured_path %></li>
          <li><%= link_to "How It Works", how_it_works_path %></li>
          <li><%= link_to "Partners", partners_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Edit Profile", edit_user_path(@user)%></li>
          <li><%= link_to "View Profile", user_path(@user)%></li>
          <li><%= link_to "Request a Mentor", new_mentor_path%></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %><li>
        <%else%>
          <li id="login_action"><%= link_to "Login", user_omniauth_authorize_path('linkedin') %></li>
        <%end%>
      </ul>
  </nav>
</header>

<%= yield %>
<footer>
  <a href="https://twitter.com/TheWomenRising"><i class="fa fa-twitter"></i></a> <%= mail_to "info@womenrising.co" %>
</footer>
</body>
</html>
